<% include header %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Obligatorio SD</h3>
		<% if(typeof succesUpload != 'undefined'){ %>
			<div class="alert alert-success" role="alert">Archivo subido correctamente</div>
		<% } %>
		<div role="tabpanel">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Grupos</a></li>
		    <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Buscar</a></li>
		    <li role="presentation"><a href="#up" aria-controls="up" role="tab" data-toggle="tab">Subir</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="groups">
		    	<ul>
		    		<% user.groups.forEach(function(group) { %>
		    	       <li> <%= group %>
		    	       		<div class="well well-lg">
		    	       			<% if(typeof files[group] != 'undefined'){ %>
			    	    			<ul>
			    						<% files[group].forEach(function(file) { %>

											<li>
												<a href="download/<%= file.name %>" class="name"><%= file.name %></a>
												<ul class="inline">
													<% file.tags.forEach(function(tag) { %>
														<li><span class="label label-primary"><%=tag%></span></li>
			    	   								<% }); %>
												</ul>
												<% if(file.groupCanRead){ %>
													<span class="glyphicon glyphicon-floppy-open"></span>
			    	   							<% } %>
												<% if(file.groupCanWrite){ %>
													<span class="glyphicon glyphicon-floppy-save"></span>
			    	   							<% } %>
											</li>		    	    				
			    	   					<% }); %>
			    	    			</ul>
			    	    		<% } %>
		    	       		</div>
		    	       	</li>
		    	   <% }); %>
		    	</ul>	
		    </div>
		    <div role="tabpanel" class="tab-pane" id="search">
		    	<h5>Busca un tag</h5>
  	  			<form id="searchTag">
  	  				<div class="form-group">
  	  	  				<input id="tag" type="text" name="tag" class="form-control" id="user" placeholder="Tag">
  	  				</div>
  	  				<button type="submit" class="btn btn-default">Buscar</button>
  	  			</form>
  	  			<ul id="filesList">
  	  	 		
  				</ul>	
		    </div>
		    <div role="tabpanel" class="tab-pane" id="up">
		    	<form name="sendFile" action="/uploadFile" method="POST" enctype="multipart/form-data">
		  			<div class="form-group">
		  				<label for="file">Archivo</label>
		  				<input type="file" name="file" id="file">
		  			</div>
		  			<div class="form-group">
		  				<label for="tags">Tags</label>
			  			<input type="text" id="tags" name="tags" class="form-control" value="" data-role="tagsinput">
		  			</div>
		  			<strong>Compartir con grupos que pertenezco</strong>
		  			<div class="form-group">
			  			<select type="text" name="groups" class="form-control" multiple>
			  				<% user.groups.forEach(function(group) { %>
			  			  		<option value="<%= group %>"><%= group %></option>
			  			    <% }); %>  
			  			</select>
			  		</div>
			  		<div class="form-group">
				  		<div class="checkbox">
				  		    <label>
				  		      <input name="groupCanWrite" type="checkbox"> Puede escribirse
				  		    </label>
				  		</div>
				  		<div class="checkbox">
				  		    <label>
				  		      <input name="groupCanRead" type="checkbox"> Puede leerse
				  		    </label>
				  		</div>
				  	</div>
		  			<strong>Yo mismo</strong>
		  			<div class="form-group">
				  		<div class="checkbox">
				  		    <label>
				  		      <input name="ownerCanWrite" type="checkbox"> Puede escribirse
				  		    </label>
				  		</div>
				  		<div class="checkbox">
				  		    <label>
				  		      <input name="ownerCanRead" type="checkbox"> Puede leerse
				  		    </label>
				  		</div>
				  	</div>
				  	<strong>Publico</strong>
		  			<div class="form-group">
				  		<div class="checkbox">
				  		    <label>
				  		      <input name="publicCanWrite" type="checkbox"> Puede escribirse
				  		    </label>
				  		</div>
				  		<div class="checkbox">
				  		    <label>
				  		      <input name="publicCanRead" type="checkbox"> Puede leerse
				  		    </label>
				  		</div>
				  	</div>
  					<button type="submit" class="btn btn-default">Enviar</button>
  				</form>
		    </div>
		  </div>
		</div>
  	</div>
</div>
<% include footer %>